html{
    font-size:62.5%;
}
body{
    background-color: #212121;
    color: #fff;
    padding: 0;
    margin: 0;
}
.titulo_categoria{
    font-size: 2.4em;
    color: #fff;
    display: flex;
    justify-content: center;
}
.titulo_categoria p{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    margin: 10px;
}
.big{
    margin: 0 3%;
    padding: 2% 2% 2% 2%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor{
    background: linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);
    box-shadow: 18.2518px 24.1017px 58.4993px 4.67994px rgb(0 0 0 / 40%);
    border: 1px solid #454545;
    border-radius: 4px;
    margin: 1%;
    width: 30rem;
    height: 48.5rem;
}

.producto{
    padding: 4% 8%;
}

.foto{
    text-align: center;
}

.foto img{
    width: 260px;
    height: 200px;
    object-fit: cover;
}

.line{
    height: 1px;
    width: 100%;
    background: linear-gradient(45deg,transparent,red,transparent);
    margin: 10px auto 8px;
}

.texto{
    width: 100%;
    height: 110px;
}
.texto .title{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    margin: 20px 0 5px;
}
.texto .subtitle{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.precio{
    padding: 0 8%;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.precio p{
    font-size: 24px;
    margin: 24px 0 10px;
}

button{
    background-color: transparent;
    color: red;
    overflow: hidden;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    border: 1px solid red;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    transition: all 500ms ease;
}

button:hover{
    background-color: red;
    color: #fff;
    transition: all 500ms ease;
}